<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agendamento | Eduardo Religari</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display+SC:wght@400;700;900&family=Playfair+Display:wght@400..900&display=swap"
      rel="stylesheet" />
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body id="agendamento">
    <%- include('../public/header.html'); %>
    <div class="formulario">
      <h1 class="font-1-l bege-4 formulario-titulo">faça seu agendamento</h1>
      <form action="/submit" class="font-1-s-sc bege-4" method="post">
        <div>
          <label for="nome">Nome</label>
          <input type="text" name="nome" placeholder="Seu nome completo aqui" />
        </div>
        <div>
          <label for="celular">Celular para contato</label>
          <input type="tel" name="celular" placeholder="(xx) xxxxx-xxxx" />
        </div>
        <div>
          <label for="email">Email</label>
          <input type="email" name="email" placeholder="exemplo@exemplo.com" />
        </div>
        <div>
          <label for="serviços">Selecione o serviço que deseja</label>
          <select name="serviços" id="serviços">
            <option value="selecione" disabled selected>Selecione</option>
            <option value="terapia-individual">Psicoterapia individual</option>
            <option value="terapia-casal">Psicoterapia para casais</option>
            <option value="terapia-infantil">Psicoterapia infantil</option>
            <option value="terapia-familiar">Psicoterapia para família</option>
            <option value="aconselhamento-familiar">
              Aconselhamento familiar
            </option>
            <option value="life-design">Life Design</option>
          </select>
        </div>
        <div>
          <label for="qt-pessoas">Para quantas pessoas?</label>
          <input type="number" name="qt-pessoas" placeholder="1" value="1" />
        </div>
        <div>
          <label for="data">Escolha a data</label>
          <input type="date" name="data" />
        </div>
        <div>
          <label for="genero">Gênero que se identifica</label>
          <input type="text" name="genero" />
        </div>
        <button type="submit" value="Enviar">Solicitar agendamento</button>
        <% if (locals.nome) { %>
        <h1 class="font-2 bege-3">
          Obrigado, <%- locals.nome %>. Em breve entrarei em contato!
        </h1>
        <% } %>
      </form>
    </div>
    <%- include('../public/footer.html'); %>
  </body>
</html>
