<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sobre | Camila Lanfredi</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display+SC:wght@400;700;900&family=Playfair+Display:wght@400..900&display=swap"
      rel="stylesheet" />

    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body id="sobre">
    <%- include('../public/header.html'); %>
    <main class="container">
      <div>
        <h1 class="font-1-xl-sc bege-4">
          Olá, eu sou <br />
          Camila Lanfredi
        </h1>
        <p class="font-2 cinza-3 regular">
          Pós graduada em Terapia Familiar, Pós graduanda em
          Neuropsicopedagogia, Psicóloga Clínica, e, Parental com foco na
          primeira infância e adolescência. Formação em prevenção ao suicídio
          pela Universidade Federal de Santa Catarina, e Formação em Transtorno
          do Espectro Autista (TEA) em avaliação e intervenção.
        </p>
        <p class="font-2 cinza-3 regular">
          Psicóloga Educacional, e Escritora. Publicação do artigo “Adoção: Um
          Estudo sobre a Perspectiva de Pais adotivos” no ano de 2016, e
          Desenvolvimento e Aplicação de Projetos com famílias no Período
          gravídico – Puerperal (Gestação – Pós-Parto).
        </p>
        <nav class="sobre-redes">
          <a href=""><img src="icons/instagram-bege.svg" alt="" /></a>
          <a href=""><img src="icons/linkedin-bege.svg" alt="" /></a>
          <a href=""><img src="icons/facebook-bege.svg" alt="" /></a>
          <a href=""><img src="icons/x-bege.svg" alt="" /></a>
        </nav>
      </div>
      <div>
        <ul class="font-2 regular cinza-4">
          <li>Especialista no espectro autista</li>
          <li>Terapia online</li>
          <li>Aplicação de testes</li>
        </ul>
        <div class="link-externo">
          <a class="font-2 cinza-3">conheça meu blog </a>
          <img src="/icons/link_externo.svg" alt="" />
        </div>
      </div>
    </main>
    <section class="container">
      <div>
        <img
          src="https://imagenscamila.blob.core.windows.net/imgs/sobre/sobre.jpg"
          alt="" />
      </div>
      <div class="sobre-txt">
        <p class="font-2 regular cinza-4">
          “Be you, in bloom” isn’t just a tagline. It’s how I approach my work
          as a Licensed Professional Counselor and it’s how I help each and
          every one of my clients.
        </p>
        <p class="font-2 regular cinza-4">
          Bloom Counseling exists to empower the highest achieving members of
          the Huntsville community in reaching their goals. I do this, not by
          encouraging you to do more or be more, but by encouraging you to slow
          down and take stock of what’s working and what’s not.
        </p>
        <p class="font-2 regular cinza-4">
          By getting extremely clear on what works for you, you can begin to let
          go of the things that are holding you back in order to maximize your
          efficiency and effectiveness.
        </p>
      </div>
    </section>
    <section class="meu-trabalho container">
      <h1 class="font-1-xl">meu trabalho</h1>
      <p class="font-2 cinza-2 light">
        Bloom Counseling exists to empower the highest achieving members of the
        Huntsville community in reaching their goals. I do this, not by
        encouraging you to do more or be more, but by encouraging you to slow
        down and take stock of what’s working and what’s not.
      </p>
      <div>
        <ul class="font-2" style="color: white">
          <li>Terapia de casal</li>
          <li>Terapia de família</li>
          <li>Aconselhamento familiar</li>
          <li>Palestrante</li>
          <li>Terapia online</li>
          <li>Aplicação de testes</li>
        </ul>
      </div>
    </section>
    <section class="casal">
      <div class="casal-img">
        <img
          src="https://imagensedu.blob.core.windows.net/imgs/sobre/casal-religari.jpg" />
        <h1 class="font-1-xl-sc">O Casal Religari</h1>
      </div>
      <div class="casal-txt">
        <p class="font-2 cinza-4">
          Sou casado a 7 anos com minha então parceira científica, da qual somos
          pais de nossa primeira filha (hoje com quase 4 anos). Residimos na
          Europa, na maior parte do tempo em Lisboa, cidade da qual regressamos
          em 2018 para o nascimento de nossa Princesa.
        </p>
        <p class="font-2 cinza-4">
          Com a expertise obtido nessas experiências e formações idealizamos e
          fundamos a Atitude Religare, na qual nos prontificamos ajudar pessoas
          a desenvolver-se em suas relações com o outro e com o mundo, pais que
          necessitem de auxílio na ardilosa de formação dos filhos.
        </p>
        <div class="link-externo">
          <a
            href="https://eduardo-religari.azurewebsites.net/"
            target="_blank"
            class="font-2 cinza-3"
            >conheça o Eduardo</a
          ><img src="/icons/link_externo.svg" alt="" />
        </div>
      </div>
    </section>
    <%- include('../public/footer.html'); %>
  </body>
</html>
