<footer>
  <nav class="font-1-s">
    <a href="/sobre">sobre mim</a>
    <a href="/contato">contato</a>
    <a href="/agendamento">agende uma sessão</a>
    <a href="https://gumpee.com.br/blog">blog</a>
  </nav>
  <div>
    <a href="/index" class="font-1-l-sc">Eduardo Religari</a>
    <nav class="redes-footer">
      <a href=""><img src="/icons/instagram.svg" alt="" /></a>
      <a href=""><img src="/icons/facebook.svg" alt="" /></a>
      <a href=""><img src="/icons/linkedin.svg" alt="" /></a>
      <a href=""><img src="/icons/x.svg" alt="" /></a>
      <a href=""><img src="/icons/whatsapp.svg" alt="" /></a>
    </nav>
  </div>
  <nav class="font-1-s">
    <a href="/">conheça a Camila</a>
    <a href="https://gumpee.com.br">conheça a Gumpee</a>
    <a
      href="https://www.google.com/maps/place/R.+Izidoro+Maes,+300+-+Centro,+Ilhota+-+SC,+88320-000,+Brasil/@-26.901766,-48.826063,16z/data=!4m6!3m5!1s0x94df31db90470141:0xb8152bb33bf0b1b2!8m2!3d-26.9020343!4d-48.8253548!16s%2Fg%2F11s49n4b1x?hl=pt-BR&entry=ttu"
      >localização</a
    >
    <p class="font-2-s cinza-2">R. Izidoro Maes, 300 - Centro</p>
  </nav>
</footer>
