@import url("../global/cores.css");

footer {
  display: grid;
  gap: 60px;
  place-items: center;
  place-content: center;
  grid-template-columns: auto 1fr auto;
  background-color: var(--bege-3);
  text-align: center;
  padding-inline: 12%;
  padding-block: 120px;
}

footer nav {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 40px;
}

footer a {
  color: white;
}

footer p {
  max-width: 20ch;
}

.redes-footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: clamp(20px, 5vw + 1rem, 60px);
  place-items: center;
  place-content: center;
  padding-top: 40px;
}

.redes-footer nav a {
  padding-inline: 12px;
}

.redes-footer img {
  height: clamp(20px, 2.5vw + 1rem, 32px);
}

@media (max-width: 860px) {
  footer {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 8%;
  }
  footer nav {
    gap: 20px;
  }
  footer > div {
    grid-column: 1/-1;
    grid-row: 1;
    display: grid;
    gap: 40px;
    place-items: center;
  }
  footer p {
    display: none;
  }
  .redes-footer {
    padding: 0;
    gap: 40px;
  }
}
