@import url("../global/cores.css");

#servicos main {
  background-color: var(--azul-4);
  padding-top: 80px;
  padding-bottom: 120px;
  color: white;
}

#servicos main > div {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr auto;
  padding-inline: 60px;
}

#servicos main > div * {
  max-width: fit-content;
}

#servicos main > div > div {
  height: 100%;
  display: grid;
}

#servicos main h1 {
  grid-column: 1/-1;
}

#servicos main p {
  max-width: 30ch;
}


#servicos main ul {
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 200px; */
  gap: 40px;
  display: grid;
  grid-template-columns: auto 1fr;
  /* grid-template-rows: auto auto auto; */
}

#servicos main li {
  display: flex;
  gap: 28px;
  align-items: center;
  letter-spacing: 0.15em;
}

#servicos main li::before {
  margin-right: 12px;
  content: "";
  display: inline-block;
  width: 1.5rem;
  min-width: 1.5rem;
  height: 1.5rem;
  background-color: var(--cinza-4);
}

@media (max-width: 1160px) {
  #servicos main > div {
    grid-template-columns: 1fr;
  }
  #servicos main p {
    max-width: 50ch;
    margin-bottom: 40px;
  }
  #servicos main ul {
    gap: 28px;
  }
}

@media (max-width: 760px) {
  #servicos main {
    padding-top: 40px;
    padding-bottom: 60px;
  }
}

@media (max-width: 640px) {
  #servicos main ul {
    grid-template-columns: 1fr;
  }
}
