<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eduardo Religari</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body id="index">
    <%- include('public/header.html') %>
    <main>
      <div class="main">
        <h1 class="font-1-xl azul-4">
          Neuropsicólogo<br />
          e Psicopedagogo
        </h1>
        <ul class="font-2 cinza-3">
          <li>Atendimento personalizado</li>
          <li>Consultas presenciais e online</li>
          <li>Monitoria paternal</li>
          <li>Especialista no espectro autista</li>
        </ul>
        <div class="main-links">
          <button><a href="/contato">Contato</a></button>
          <a
            class="font-2 cinza-3"
            href="https://www.google.com/maps/place/R.+Izidoro+Maes,+300+-+Centro,+Ilhota+-+SC,+88320-000,+Brasil/@-26.901766,-48.826063,16z/data=!4m6!3m5!1s0x94df31db90470141:0xb8152bb33bf0b1b2!8m2!3d-26.9020343!4d-48.8253548!16s%2Fg%2F11s49n4b1x?hl=pt-BR&entry=ttu"
            >Ver localização
            <span><img src="/icons/link_externo_svg.svg" alt="" /></span>
          </a>
        </div>
      </div>
    </main>
    <section class="servicos-main azul-4">
      <div>
        <h1 class="font-1-regular">
          Terapia especializada para crianças e neurodivergentes
        </h1>
        <h1 class="font-1-regular">Sessões de até 2 horas</h1>
        <h1 class="font-1-regular">Acompanhamento familiar completo</h1>
        <h1 class="font-1-regular">Aconselhamento de carreira</h1>
        <button><a href="/agendamento">agendar uma sessão</a></button>
      </div>
    </section>
    <section class="sobre container">
      <div class="sobre-img">
        <img
          src="/imgs/psicologo-sobre.jpg"
          alt="Psicólogo sentado na cadeira do escritório" />
      </div>
      <div class="sobre-txt">
        <h1 class="font-1-l azul-4">Olá, eu sou Eduardo Religari</h1>
        <p class="font-2-s cinza-3" style="max-width: 40ch">
          Psicólogo graduado na Universidade do Vale do Itajaí, pós-graduado em
          Neuropsicologia e Esp. em Inteligência Emocional, Esp. em ABA no TEA.
        </p>
        <p class="font-2 azul-3">
          Psicólogo a mais de 10 anos, Marido a 7 e Pai a pouco mais de 3.
          Logoterapeuta, Especialista em Inteligência Emocional, Especialista em
          ABA e Desenvolvimento de Habilidades no TEA, Formações em Prevenção ao
          Suicídio e Paternidade e Cuidado pela UFSC. Escritor; Colunista;
          Palestrante.
        </p>
        <button><a href="/sobre">mais sobre mim</a></button>
      </div>
    </section>
    <section class="redes">
      <h1 class="font-1-l">redes sociais</h1>
      <nav>
        <a href=""><img src="/icons/instagram_svg.svg" alt="" /></a>
        <a href=""><img src="/icons/facebook_svg.svg" alt="" /></a>
        <a href=""><img src="/icons/linkedin_svg.svg" alt="" /></a>
        <a href=""><img src="/icons/x_svg.svg" alt="" /></a>
      </nav>
    </section>
    <section class="depoimento">
      <h1 class="font-1-xl azul-4">
        Mudou completamente a minha vida. Uma busca de autoconhecimento.
      </h1>
      <p class="font-2-s cinza-3">- JULIANA DARK</p>
      <div>
        <a href="/agendamento" class="font-2 cinza-3">Agendar sessão </a>
        <img src="icons/calendario.svg" alt="" />
      </div>
    </section>
    <article class="camila-bg">
      <div class="camila container">
        <div><img src="imgs/casal.jpg" alt="" /></div>
        <div class="camila-txt">
          <h1 class="font-1-l bege-4">conheça a Camila</h1>
          <p class="font-2 cinza-4">
            Esposa, <strong>psicóloga</strong> pela Universidade do Vale do
            Itajaí, há 5 anos. Pós graduada em Terapia Familiar, Pós graduanda
            em Neuropsicopedagogia, Psicóloga Clínica, e, Parental com foco na
            primeira infância e adolescência. Formação em prevenção ao suicídio
            pela UFSC, e Formação em Transtorno do Espectro Autista (TEA) em
            avaliação e intervenção. Psicóloga Educacional, e Escritora. 
          </p>
          <button><a href="">marque uma consulta</a></button>
        </div>
      </div>
    </article>
    <%- include('public/footer.html'); %>
  </body>
</html>
